# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# SQLite Local Feature Store and Hopsworks certificate
feature_store/
.hopsworks_certs/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

.streamlit/secrets.toml